/* Prevents scroll on smaller screens */
html,
body {
	overflow-x: hidden;
}

body {
	position: relative;
	background-color: #14151F;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
}

nav {
	float: left;
}

nav a {
	background-color: #14151F;
}

li {
	display: inline;
  }

/* Position the matter.js canvas */
canvas {
	width: 100vw;
	max-width: 120vh;
	max-height: 100vh;
	display: block;
	margin: auto;
	top: 0;
}

img {
	height: 5vw;
	display: inline-block;
	margin: 0;
}

#buttons {
	position: fixed;
	bottom: 0;
	width: 100vw;
	display: block;
	margin: 0;
}

#spawnBtn {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 20px;
	background-color: #0f9;
}

#resetBtn {
	position: fixed;
	right: 0;
	bottom: 0;
}

#compactBtn {
	position: fixed;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

#messageContainer {
	display: inline-block;
	position: fixed;
	top: 1vh;
	right: 2vw;
	text-align: left;
	max-width: 25vw;
	color: #f0f8ff;
	pointer-events: all;
	font-size: 0.7vw;
	transition: ease-in-out;
}

#livesContainer i {
	color: #ff0000;
}

#slowMotion {
	padding: 1rem;
	background-color: #0f9;
	top: 50%;
	display: inline;
	position: fixed;
	color: #14151F;
}

#winLose {
	display: none;
	position: fixed;
	top: 50%;
	right: 50%;
	color: #ff0000;
	font-size: 50px;
}

ul {
	padding: 0;
}

#spawnBtnArrow,
#compactBtnArrow {
	position: fixed;
	bottom: 0;
	left: 7vw;
	color: #ff0000;
	display: none;
	font-size: 4vw;
}

#compactBtnArrow {
	left: 55vw;
}

h2 {
	font-size: 2vw;
}

a {
	background-color: #ff0000;
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
}

a:hover {
	text-decoration: none;
	color: #ff0000;
	background-color: #ffffff;
}

/* Media queries */
@media only screen and (max-width: 320px) {
	img {
		height: 30vw;
		display: inline-block;
		margin: 0;
	}
}

@media only screen and (max-width: 375px) {
	img {
		height: 28vw;
		display: inline-block;
		margin: 0;
	}
}

@media only screen and (max-width: 425px) {
	img {
		height: 25vw;
		display: inline-block;
		margin: 0;
	}
}

@media only screen and (max-width: 720px) {
	img {
		height: 25vw;
		display: inline-block;
		margin: 0;
	}
}

@media only screen and (max-width: 1024px) {
	img {
		height: 15vw;
		display: inline-block;
		margin: 0;
	}

	#messageContainer {
		top: 55vh;
		margin: auto;
		left: 0;
		right: 0;
		font-size: 2.4vw;
		max-width: 80vw;
	}

	#wasteMattersLink {
		top: 80vh;
		margin: auto;
		left: 0;
		right: 0;
		font-size: 3vw;
		max-width: 60vw;
	}

	h2 {
		font-size: 4vw;
	}

	a {
		padding: 15px;
	}

	#spawnBtnArrow,
	#compactBtnArrow {
		font-size: 10vw;
		bottom: 1vh;
	}

	#spawnBtnArrow {
		left: 18vw;
	}

	#compactBtnArrow {
		left: 57vw;
	}

	#spawnBtn,
	#resetBtn,
	#compactBtn {
		bottom: 1vh;
	}

	#spawnBtn {
		left: 1vw;
	}
    
	#resetBtn {
		right: 1vw;
	}
}