/* Prevents scroll on smaller screens */

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: #14151F;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

nav {
    float: left;
    position: relative;
}

nav a {
    background-color: #14151F;
}

nav ul {
    padding: 0;
}

li {
    display: inline;
}

header {
	display: inline-block;
}

header ul li {
	display: list-item;
	list-style-type: none;
	display: inline-block;
}

h2 {
    font-size: 1rem;
}

#homeBody {
    width: 80vw;
    margin: auto;
}

#buildingImg, #compactorImg {
    width: 100%;
}

#contactMain {
    margin: auto;
    width: 80%;
}

#contactInfo, #contactForm {
    display: inline-block;
    width: 40%;
}

#contactInfo {
    list-style-type: none;
    padding: 0;
}

#contactInfo i {
    color: #ff0000;
}

input, textarea {
    width: 100%;
}

/* Position the matter.js canvas */

canvas {
    max-width: 100vw;
    max-height: 75vh;
    margin: auto;
	display: flex;
    top: 0;
}



/* 
User instruction modal 
Credit to Web Dev Simplified
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    color: #14151F;
}

.modal-body {
    padding: 10px 15px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
	font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.3rem;
	outline: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#scoreContainer, #livesContainer, #modalBtn {
	right: 2rem;
	display: block;
	position: fixed
}

#scoreContainer {
	top: 7rem;
}

#modalBtn {
	top: 10rem;
    background-color: #ff0000;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    border: none;
}

#modalBtn:hover {
    text-decoration: none;
    color: #ff0000;
    background-color: #ffffff;
}

#objective {
	display: block;
	margin: 0;
	font-size: 1.2rem;
	text-align: center;
}

#buttons {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: block;
    margin: 0;
    text-align: center;
}

#spawnBtn {
    position: fixed;
    left: 5px;
    bottom: 0;
    font-size: 5rem;
}

#resetBtn {
    font-size: 5rem;
    position: fixed;
    right: 5px;
    bottom: 0;
}

#compactBtn {
    bottom: 0;
    font-size: 5rem;
    text-align: center;
}

i:hover {
    text-decoration: none;
    color: #ff0000;
}

#livesContainer i {
    color: #ff0000;
}

#slowMotion {
    padding: 1rem;
    background-color: #0f9;
    top: 50%;
    display: inline;
    position: fixed;
    color: #14151F;
}

#winLose {
    display: none;
    position: fixed;
    top: 25%;
    left: 20%;
    font-size: 1.5rem;
}

ul {
	list-style-type: disc;
}

ul li {
	display: list-item;
	margin-left: 1rem;
}

a, #formSubmit {
    background-color: #ff0000;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}

a:hover {
    text-decoration: none;
    color: #ff0000;
    background-color: #ffffff;
}

.selectedNav {
    background-color: #d82b2b;
}

/* Media queries */

@media only screen and (max-width: 900px) {
    #spawnBtn, #resetBtn, #compactBtn {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 720px) {
    #contactInfo, #contactForm {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 690px) {
    canvas {
        width: inherit;
    }

    #statsContainer {
        display: block;
        left: 50%;
        position: fixed;
        bottom: 10rem;
        width: 100%;
        height: 20%;
        white-space: nowrap;
        text-align: center;
    }

    #livesContainer {
        bottom: 30vh;
    }
    
    #scoreContainer {
        top: inherit;
        bottom: 25vh;
    }

    #modalBtn {
        top: inherit;
        bottom: 13vh;
    }

    #spawnBtn, #resetBtn, #compactBtn {
        font-size: 2.5rem;
    }

    header ul {
        padding: 0;
        display: block;
        color: blue;
    }

    #winLose {
        top: 20%;
        left: 15%;
        font-size: 1rem;
    }

    .modal {
        white-space: normal;
        text-align: left;
        font-size: 1rem;
    }
}

@media only screen and (max-height: 415px) {
    #livesContainer {
        bottom: 47vh;
    }
    
    #scoreContainer {
        top: inherit;
        bottom: 40vh;
    }

    #modalBtn {
        top: inherit;
        bottom: 25vh;
    }

    .modal ul {
        font-size: .75rem;
    }

    #objective {
        font-size: 1rem;
    }

    .modal-header .title {
        font-size: 1rem;
    }

    #contactInfo, #contactForm {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 640px) {
    nav ul li a {
        padding: 10px;
        font-size: 1rem;
    }
    
    .modal ul {
        font-size: .75rem;
    }

    #objective {
        font-size: 1rem;
    }

    .modal-header .title {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 420px) {
    nav ul li a {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 360px) {
    nav ul li a {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 350px) {
    #winLose {
        font-size: .75rem;
    }

    a {
        padding: 10px;
    }
}