body {
    position: relative;
}

canvas {
    width: 100vw;
    max-width: 120vh;
    max-height: 100vh;
    display: block;
    margin: auto;
    border: solid 20px #ff0000;
}

img {
    max-height: 5vw;
    display: inline-block;
    margin: 0;
}

#buttons {
    position: relative;
    display: block;
    margin: 0;
}

#spawnBtn {
    position: absolute;
    
}

#resetBtn {
    position: absolute;
    right: 1%
}