body {
    position: relative;
}

canvas {
    width: 100vw;
    max-width: 120vh;
    max-height: 100vh;
    display: block;
    margin: auto;
    border: solid .5vh #ff0000;
}

img {
    max-height: 5vw;
    display: inline-block;
    margin: 0;
}

#buttons {
    position: relative;
    display: block;
    margin: 0;
}

#spawnBtn {
    position: absolute;
    
}

#resetBtn {
    position: absolute;
    right: 1%
}

#messageContainer {
    display: inline-block;
    position: fixed;
    right: 25%;
    top: 3rem;
    text-align: center;

    color: aliceblue;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}