body {
    background-color: #14151F;
}

#wrapper {
    position: relative;
    width: inherit;
    max-width: 120vh;
    max-height: 100vh;
    margin: auto;
}

canvas {
    width: 100vw;
    max-width: 120vh;
    max-height: 100vh;
    display: block;
    margin: auto;
    border: solid .5vh #ff0000;
}

img {
    max-height: 5vw;
    display: inline-block;
    margin: 0;
}

#buttons {
    position: relative;
    display: block;
    margin: 0;
}

#spawnBtn {
    position: absolute;
    
}

#resetBtn {
    position: absolute;
    right: 1%
}

#compact {
    position: absolute;
    right: 50%;
    font-size: 30px;
    top: 20px;
}

#messageContainer {
    display: inline-block;
    position: absolute;
    right: 15vw;
    margin: center;
    top: 10vh;
    text-align: center;
    max-width: 20vw;

    color: #f0f8ff;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}